doctype 5
html
  head
    
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/app.css')

  body
    block content

    block bootstrapData
    
    script(type='text/javascript', src='/javascripts/vendor/require.js', data-main='/javascripts/main')
    
    block scripts