<div class="clearfix">
  <h5 class="pull-left">
    {{conversationWith}}
  </h5>     
  <h5 class="pull-right">
    {{timeStamp}}
  </h5>
</div>
<div>
  <p class="lead">
    {{body}}
  </p>
</div>
          